body {
    font-family: inria;
    background-color: #f4f4f4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



#bookingList {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.booking-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}


.booking-item h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.5rem;
}


.booking-item p {
    font-size: 1em;
    color: #555;
    margin-bottom: 0.3rem;
}


.booking-item button {
    padding: 8px 12px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.booking-item button:hover {
    background-color: #ccc;
}

/*css för */
#editBooking {
    background-color: #4CAF50; 
    color: white;
}

#editBooking:hover {
    background-color: #45a049;
}


#deleteBooking{
    background-color: #f44336;
    color: white;
}

#deleteBooking:hover {
    background-color: #e53935;
}
